version: '3.9'
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: publishr
      POSTGRES_PASSWORD: publishr
      POSTGRES_DB: publishr
    ports: ['5432:5432']
  redis:
    image: redis:7
    ports: ['6379:6379']
  minio:
    image: minio/minio:latest
    command: server /data --console-address ':9001'
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports: ['9000:9000','9001:9001']
